[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak],
.ng-cloak, .x-ng-cloak,
.ng-hide {
    display: none !important;
}
html{
	position: relative;
    min-height: 100%;
    background-color: #000;
}
body{

	margin-bottom: 50px;
	background-color: #000;
}
nav .container{
	padding: 0;
}
.main .container, .main .container-fluid{
	padding: 70px 0 40px 0;
}
.games-banner:focus {
  outline: none;
}
.games-banner:nth-child(odd):hover img, .streams-banner:nth-child(odd):hover img{
	cursor: pointer;
	-ms-transform: rotate(-5deg) scale(0.8); /* IE 9 */
	-webkit-transform: rotate(-5deg) scale(0.8); /* Chrome, Safari, Opera */
	transform: rotate(-5deg) scale(0.8);
	-webkit-box-shadow: 4px 1px 12px 0px #fff;
    -moz-box-shadow: 4px 1px 12px 0px #fff;
    box-shadow: 4px 1px 12px 0px #fff;
}
.games-banner:nth-child(even):hover img, .streams-banner:nth-child(even):hover img{
	cursor: pointer;
	-ms-transform: rotate(5deg) scale(0.8); /* IE 9 */
	-webkit-transform: rotate(5deg) scale(0.8); /* Chrome, Safari, Opera */
	transform: rotate(5deg) scale(0.8);
	-webkit-box-shadow: -4px 1px 12px 0px #fff;
    -moz-box-shadow: -4px 1px 12px 0px #fff;
    box-shadow: -4px 1px 12px 0px #fff;
}
.games-banner img, .streams-banner img{
	transition: all 0.3s ease 0s;
	width: 100%;
	height: auto;
	position: relative;
	
}
.channel-name{
	position: absolute;
	bottom: -5px;
	left: 17px;
	font-weight: bold;
	color: white;
	text-shadow:
	-1px -1px 0 #000,  
	1px -1px 0 #000,
	-1px 1px 0 #000,
	1px 1px 0 #000;
}
.title-stream, .game-name{
	background-color:rgba(0,0,0,0.5);
	padding: 10px;
	width: 90%;
	position: absolute;
	top: 25px;
	left: 17px; 
	font-weight: bold;
	color: white;
	text-shadow:
	-1px -1px 0 #000,  
	1px -1px 0 #000,
	-1px 1px 0 #000,
	1px 1px 0 #000;
}
.viewers-stream, .viewers{	
	position: absolute;
	bottom: -5px;
	right: 18px;
	font-weight: bold;
	color: white;
	text-shadow:
	-1px -1px 0 #000,  
	1px -1px 0 #000,
	-1px 1px 0 #000,
	1px 1px 0 #000;
}
.games-banner, .streams-banner{
	padding-top: 30px;
}
.btn-block{
	margin: 60px 0 60px 0;
}
@media screen and (min-width: 1200px) {
    .streams-banner{
	min-height: 270px;
	}
	.container-fluid{
	width: 95%;
}
}
@media screen and (max-width: 1200px) {
    .embed-responsive-16by9{
	margin-bottom: 30px;
}
}

.counter{
	text-align: center;
}
.counter h4{
	margin: 0;
	margin: 74px 0 74px 0;
}
.embed-responsive-4by3{
	height: 720px;
}
img.logo{
	width: 50px;
	height: auto;
}
h1 span.game{
	font-size: 50%;
	color: #375a7f;
}
.reddit .well{
	border-radius: 0;
	border-color: #fff;
	word-wrap: break-word;
}
.reddit .well:hover{
	background-color: #375a7f;
}
.reddit .well:hover .score{
	background-color: #303030;
}
.score{
	background-color: #375a7f;
	padding:5px;
	margin-right: 10px;
	font-weight: bold;
	color: #fff;
	text-shadow:
	-1px -1px 0 #000,  
	1px -1px 0 #000,
	-1px 1px 0 #000,
	1px 1px 0 #000;
}
.reddit .well .title a{
	text-shadow:
	-1px -1px 0 #000,  
	1px -1px 0 #000,
	-1px 1px 0 #000,
	1px 1px 0 #000;
}
.title img[src^="self"], .title img[src^="nsfw"], .title img[src^="default"]{
    display: none;
}
.title img{
    width: auto;
    height: 70px;
}
.nav.nav-tabs{
	margin: 20px 0;
}
.nav.nav-tabs li a{
	border-radius: 0;
}
.btn-primary{
	width: 100%;
}
.name{
	line-height: 60px;
	margin-right: 30px;
}
/* FOOTER */

.footer{
	font-size: 16px;
}
.footer i{
	margin: 5px;
	font-size: 18px;
}
footer a:hover, footer a:focus{
	text-decoration: none;
}
footer a:hover i.fa-facebook-square{
	color: #fff;
}
footer a:hover i.fa-envelope-o{
	color: #fff;
}
.footer .container{
	height: 100%;
	text-align: center;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	min-height: 30px;
	background-color: #375a7f;
  	border-color: transparent;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
	vertical-align: middle;
}

/* FOOTER */

/* RETURN TO TOP ARROW */
#return-to-top {
	z-index: 999999;
    position: fixed;
    bottom: 50px;
    right: 50px;
    background: #375a7f;
    background: #375a7f;
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top:hover {
    background: rgba(0, 0, 0, 0.9);
}
#return-to-top:hover i {
    color: #0ce3ac;
    top: 5px;
}
/* RETURN TO TOP ARROW */