[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak],
.ng-cloak, .x-ng-cloak,
.ng-hide {
    display: none !important;
}
html{
	position: relative;
    min-height: 100%;
}
body{
	margin-bottom: 50px;
}
nav .container{
	padding: 0;
}
.main .container, .main .container-fluid{
	padding: 70px 0 40px 0;
}
.games-banner:focus {
  outline: none;
}
.games-banner:nth-child(odd):hover img, .streams-banner:nth-child(odd):hover img{
	cursor: pointer;
	-ms-transform: rotate(-5deg) scale(0.8); /* IE 9 */
	-webkit-transform: rotate(-5deg) scale(0.8); /* Chrome, Safari, Opera */
	transform: rotate(-5deg) scale(0.8);
	-webkit-box-shadow: 4px 1px 12px 0px #fff;
    -moz-box-shadow: 4px 1px 12px 0px #fff;
    box-shadow: 4px 1px 12px 0px #fff;
}
.games-banner:nth-child(even):hover img, .streams-banner:nth-child(even):hover img{
	cursor: pointer;
	-ms-transform: rotate(5deg) scale(0.8); /* IE 9 */
	-webkit-transform: rotate(5deg) scale(0.8); /* Chrome, Safari, Opera */
	transform: rotate(5deg) scale(0.8);
	-webkit-box-shadow: -4px 1px 12px 0px #fff;
    -moz-box-shadow: -4px 1px 12px 0px #fff;
    box-shadow: -4px 1px 12px 0px #fff;
}
.games-banner img, .streams-banner img{
	transition: all 0.3s ease 0s;
	width: 100%;
	height: auto;
	position: relative;
	
}
.game-name{
	width: 80%;
	position: absolute;
	bottom: -5px;
	left: 18px;
	font-weight: bold;
	color: white;
	text-shadow:
	-1px -1px 0 #000,  
	1px -1px 0 #000,
	-1px 1px 0 #000,
	1px 1px 0 #000;
}
.viewers, .title-stream{
	z-index: 99999;
	width: 95%;
	position: absolute;
	top: 25px;
	left: 17px;
	font-weight: bold;
	color: white;
	text-shadow:
	-1px -1px 0 #000,  
	1px -1px 0 #000,
	-1px 1px 0 #000,
	1px 1px 0 #000;
}
.viewers-stream{
	z-index: 99999;
	position: absolute;
	bottom: -5px;
	right: 18px;
	font-weight: bold;
	color: white;
	text-shadow:
	-1px -1px 0 #000,  
	1px -1px 0 #000,
	-1px 1px 0 #000,
	1px 1px 0 #000;
}
.games-banner, .streams-banner{
	padding-top: 30px;
}
.btn-block{
	margin: 60px 0 60px 0;
}
@media screen and (min-width: 1200px) {
    .streams-banner{
	height: 252px;
	}
	.container-fluid{
	width: 95%;
}
}
@media screen and (max-width: 1200px) {
    .embed-responsive-16by9{
	margin-bottom: 30px;
}
}

.counter{
	text-align: center;
}
.counter h4{
	margin: 0;
	margin: 74px 0 74px 0;
}
.embed-responsive-4by3{
	height: 720px;
}
img.logo{
	width: 50px;
	height: auto;
}
h1 span.game{
	font-size: 75%;
	float: right;
	padding-top: 15px;
}

/* FOOTER */

.footer{
	font-size: 16px;
}
.footer i{
	margin: 5px;
	font-size: 18px;
}
footer a:hover, footer a:focus{
	text-decoration: none;
}
footer a:hover i.fa-facebook-square{
	color: #39599f;
}
footer a:hover i.fa-envelope-o{
	color: #D54B3E;
}
.footer .container{
	height: 100%;
	text-align: center;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	min-height: 50px;
	background-image: -webkit-linear-gradient(#484e55, #3a3f44 60%, #313539);
	background-image: -o-linear-gradient(#484e55, #3a3f44 60%, #313539);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#484e55), color-stop(60%, #3a3f44), to(#313539));
	background-image: linear-gradient(#484e55, #3a3f44 60%, #313539);
	background-repeat: no-repeat;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff484e55', endColorstr='#ff313539', GradientType=0);
	-webkit-filter: none;
	filter: none;
	border: 1px solid rgba(0,0,0,0.6);
	text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
	vertical-align: middle;
}

/* FOOTER */
