<div class="container">
	<div class="row">
		
	
			<!-- <h3 ng-show="!twitchBgStreams.length">Streams are offline please check again later!</h3> -->
		
		<div class="col-xs-12 col-sm-4 col-md-4 streams-banner bg" ng-repeat="stream in twitchBgStreams" ng-mouseenter="show = true" ng-mouseleave="show = false">
			<a href="/streams/twitch/{{stream.channel.name}}"><img ng-src="{{stream.preview.medium}}" alt=""/>
				<h4 class="title-stream">{{stream.channel.status}}</h4>
			<h4 class="channel-name">{{stream.channel.display_name}}</h4></a>
			<h5 class="viewers-stream" ng-show="show">Viewers: {{stream.viewers | number}}</h5>
		</div>
		<div class="col-xs-12 col-sm-4 col-md-4 streams-banner bg" ng-repeat="stream in hitboxBgStreams" ng-mouseenter="show = true" ng-mouseleave="show = false" ng-if="stream.media_is_live == '1'">
			<a href="/streams/hitbox/{{stream.media_name}}"><img ng-src="http://edge.sf.hitbox.tv{{stream.media_thumbnail}}" alt=""/>
				<h4 class="title-stream">{{stream.media_status}}</h4>
			<h4 class="channel-name">{{stream.media_display_name}}</h4></a>
			<h5 class="viewers-stream" ng-show="show">Viewers: {{stream.media_views | number}}</h5>
		</div>
	</div>
</div>