<div class="container">
	<div class="row">
		<div class="col-md-4">
			<input type="text" class="form-control" placeholder="Search Stream" ng-model="searchStream.channel.name">
		</div>
		<div class="col-md-4 col-md-offset-4">
			<button class="twitch-connect btn btn-primary" ng-show="!isAuthenticated">Log In</button>
			<button class="btn btn-primary" ng-show="isAuthenticated" id="logout">Log Out: </button>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="row">
				<h3 ng-show="!data.length" ng-cloak>{{oflineStreams}}</h3>
				<div class="col-xs-12 col-sm-6 col-md-4 streams-banner" ng-repeat="stream in data | filter:searchStream" ng-mouseenter="show = true" ng-mouseleave="show = false">
					<a href="/streams/{{stream.channel.name}}"><img ng-src="{{stream.channel.logo}}" alt=""/>
						<h4 class="title-stream">{{stream.channel.status}}</h4>
					<h4 class="channel-name">{{stream.channel.display_name}} playing {{stream.channel.game}}</h4></a>
				</div>

			</div>
		</div>
	</div>
</div>