<footer class="footer">
	<div class="container">
		<div class="row">
			<a href="https://www.facebook.com/ipivanov11"><i class="fa fa-facebook-square"></i></a>
			<a href="mailto:ipivanov11@gmail.com"><i class="fa fa-envelope-o"></i> </a>
			<span>Copyright © Ivan Ivanov</span>
			<!-- SmallSeoTools Code START -->
				<a href="#" target="_blank" title="Visitor Counter">
					<img style="width: 30px" src="http://smallseotools.com/visitor-counter/counter.php?code=b9699ca40fc5a7644e542dd37f5c2215&style=0015&pad=5&type=ip&initCount=1"title="Visitor Counter" Alt="Visitor Counter" border="0">
				</a>
			<!-- SmallSeoTools Code END -->
		</div>
	</div>
</footer>