<footer class="footer">
	<div class="container-fluid">
		<div class="row">
			<a href="https://www.facebook.com/ipivanov11"><i class="fa fa-facebook-square"></i></a>
			<a href="mailto:ipivanov11@gmail.com"><i class="fa fa-envelope-o"></i> </a>
			<span>© Ivan Ivanov</span>
			<!-- SmallSeoTools Code START -->
			<a href="http://smallseotools.com/visitor-hit-counter/" target="_blank" title="Visitor Counter">
				<img style="width: 40px" src="http://smallseotools.com/visitor-counter/counter.php?code=b9699ca40fc5a7644e542dd37f5c2215&style=0003&pad=5&type=page&initCount=44"title="Visitor Counter" Alt="Visitor Counter" border="0">
			</a>
			<!-- SmallSeoTools Code END -->
		</div>
	</div>
</footer>