<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<h1><img  class="logo" ng-src="{{data.stream.channel.logo}}" alt="" ng-cloak/>   {{data.stream.channel.display_name}} <span class="game">{{data.stream.channel.game}}</span></h1>
			<h3>{{data.stream.channel.status}}</h3>
			<p>{{data.stream.viewers | number}} viewers</p>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-8">
			
			<div class="embed-responsive embed-responsive-16by9">
				<iframe id="player" type="text/html" name="{{streamName}}"
				ng-src="{{url | trusted}}"
				frameborder="0">
				</iframe>
				
			</div>
		</div>
		<div class="col-lg-4">
			<div class="embed-responsive embed-responsive-4by3">
				<iframe frameborder="0"
				scrolling="no"
				id="chat_embed"
				src="{{chatUrl | trusted}}">
				</iframe>
			</div>
		</div>
	</div>
</div>