<div class="container">
	<div class="row">
		<div class="col-md-4 col-md-offset-4">
			<input type="text" class="form-control" placeholder="Search Game" ng-model="searchGame">
		</div>
	</div>
	<div class="row">
		<div class="col-xs-6 col-sm-3 col-md-2 games-banner" ng-repeat="object in data | filter:searchGame" ng-mouseenter="show = true" ng-mouseleave="show = false">
			
			
			<a href="/games/{{object.game.name}}"><img ng-src="{{object.game.box.large}}" alt="" />
			<h5 class="game-name">{{object.game.name}}</h5></a>
			<h5 class="viewers" ng-show="show">Viewers: {{object.viewers | number}}</h5>
			
		</div>
	</div>
	
	<!-- <div class="row">
		<div class="col-md-12">
			<a ng-click="loadGames(number = number + 36)" class="btn btn-default btn-lg btn-block">Load More Games</a>
			
		</div>
	</div> -->
</div>
<script type="text/javascript">
			
		
$('.btn-lg').hide();
</script>