<div class="container">
	<!-- <div class="row">
			<div class="col-md-4 col-md-offset-4">
					<input type="text" class="form-control" placeholder="Search Stream" ng-model="search.$">
			</div>
	</div>	  -->
      
    
	<div class="row" infinite-scroll='topStreams.nextPage()' infinite-scroll-disabled='topStreams.busy' infinite-scroll-distance='1'>
		
		<div class="col-md-12">
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-4 streams-banner" ng-repeat="stream in topStreams.items track by $index" ng-mouseenter="show = true" ng-mouseleave="show = false" >
					
					
					<a href="/streams/{{stream.channel.name}}"><img ng-src="{{stream.preview.medium}}" alt=""/>
						<h4 class="title-stream">{{stream.channel.status}}</h4>
					<h4 class="channel-name">{{stream.channel.display_name}}</h4></a>
					<h5 class="viewers-stream" ng-show="show">Viewers: {{stream.viewers | number}}</h5>
				</div>
			</div>
		</div>
	</div>
</div>