<div class="container">
	<div class="row">
		<div class="col-md-4 col-md-offset-4">
			<input type="text" class="form-control" placeholder="Search Streamer" ng-model="searchStream.channel.display_name">
		</div>
	</div>
	<div class="row">
		<div class="col-xs-5">
			<a ng-click="previousPage(number = number - 100); counter= counter - 1" ng-show="number > 0" class="btn btn-default btn-lg btn-block"><span class="fa fa-arrow-left"></span>    Previous Page</a>
			
		</div>
		<div class="col-xs-2 counter">
			<h4>Page {{counter}}</h4>
		</div>
		<div class="col-xs-5">
			<a ng-click="nextPage(number = number + 100); counter= counter + 1" class="btn btn-default btn-lg btn-block">Next Page    <span class="fa fa-arrow-right"></span></a>
			
		</div>
		
	</div>

	<div class="row">
		
		<div class="col-md-12">
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-4 streams-banner" ng-repeat="stream in data | filter:searchStream" ng-mouseenter="show = true" ng-mouseleave="show = false">
					<h4 class="title-stream" ng-show="show">{{stream.channel.status}}</h4>
					<h5 class="viewers-stream" ng-show="show">Viewers: {{stream.viewers | number}}</h5>
					<a href="/streams/{{stream.channel.name}}"><img ng-src="{{stream.preview.medium}}" alt=""/></a>
					<h4 class="game-name" ng-show="show">{{stream.channel.display_name}}</h4>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-5">
			<a ng-click="previousPage(number = number - 100); counter= counter - 1" ng-show="number > 0" class="btn btn-default btn-lg btn-block"><span class="glyphicon glyphicon-chevron-left"></span>    Previous Page</a>
			
		</div>
		<div class="col-xs-2 counter">
			<h4>Page {{counter}}</h4>
		</div>
		<div class="col-xs-5">
			<a ng-click="nextPage(number = number + 100); counter= counter + 1" class="btn btn-default btn-lg btn-block">Next Page    <span class="glyphicon glyphicon-chevron-right"></span></a>
			
		</div>
		
	</div>
</div>
<script type="text/javascript">
			
		
$('.btn-lg , .counter').hide();
</script>